* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
}

 /* .app-container {
  max-height: 100vh;
  overflow: hidden;
}  */

.link {
  text-decoration: none;
  color: #83502e;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: #e4d5b7;
  }
}

.home-link {
  text-decoration: none;
  color: white;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: white;
  }
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 100px;
  background-color: #e4d5b7;
  text-align: center;
  padding: 2rem;

  

  h1 {
    font-size: 8rem;
   
  }
  p {
    font-size: 3rem;
    font-weight: 400;
    color: #83502e;
  }
}



.blocHorizontal {
  display: flex;
  flex-direction: row;
  width: 200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;

  /* pour ie et mozilla */
  -ms-overlow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

.div-image {
  width: auto;
  height: 60%;
  background-position: center;
  transform: rotate(5deg);
  position: relative;
  transition-duration: 5s;
  z-index: 0;
}

.div-work-image {
  width: auto;
  height: 60%;
  background-position: center;
  
}

.div-image:hover {
  width: auto;
  height: 60%;
  background-position: center;
  transform: scale(1.2) rotate(-5deg);
  position: relative;
}

.work-information-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.artist-information-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p{
    font-style: italic;
    font-size: 2rem;
  }
}

.content-container{
  z-index: 2;
}



@import "./navbar";
@import "./work";
