* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
}

.app-container{
max-height: 100vh;
overflow: hidden;
}

.link{
  text-decoration: none;
  color :#E4D5B7;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
        color :#E4D5B7;
    }
}

.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: #E4D5B7;
}


.blocHorizontal {
  display: flex;
  flex-direction: row;
  width: 200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.container {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-x: hidden;

  /* pour ie et mozilla */
  -ms-overlow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
@import "./navbar";